<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:sans-serif; color: #FFD640">M
                <span style="color: #D1D1D1; ">O</span>
                <span style="color: #D1D1D1; ">-</span>
                <span style="color: #FFD640; ">B</span>
                <span style="color: #D1D1D1; ">I</span>
                <span style="color: #D1D1D1; ">E</span>
                <span style="color: #D1D1D1; ">-</span>
                <span style="color: #FFD640; ">T</span>
                <span style="color: #FFD640; ">I</span>
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Copy in your last text!">
            </div>
            <button type="submit" id="search" class="btn btn-info"> Search </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>